@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kindest Reality";
  src: url("fonts/KindestReality_DEMO.ttf") format("truetype");
}

@font-face {
  font-family: "Trade Gothic Bold Condensed";
  src: url("fonts/Trade\ Gothic\ Bold\ Condensed\ No.\ 20.otf") format("opentype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
